@font-face {
  font-family: "Diphylleia-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.todo-app-header {
  font-family: "Diphylleia-Regular";
}

.color-item:hover {
  width: 22px !important;
  height: 22px !important;
}

.theme-dark-input {
  color: white;
}

.theme-dark-input::placeholder {
  color: rgb(231, 225, 222);
}

.bounce {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
